* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
.focus {
  position: relative;
  width: 721px;
  height: 455px;
  background-color: purple;
  margin-left: 500px;
  margin-top: 200px;
  overflow: hidden;
}
.focus ul {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 600%;
  border: 0;
  margin: 0;
  padding: 0;
}
.focus ul li {
  float: left;
}

/* 箭头模块 */
.arrow-l,.arrow-r {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 24px;
  height: 40px;
  background: rgba(0, 0, 0, .3);
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-family: 'icomoon';
  font-size: 18px;
  z-index: 2;
}
.arrow-r {
  right: 0;
}


/*小圆点样式 此处用ol有序列表*/
ol {
  position: absolute;
  bottom: 10px;
  left: 50px;
  list-style: none;
}
ol li {
  float: left;
  width: 8px;
  height: 8px;
   /*background-color: mediumpurple;*/
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: 0 3px;
  border-radius: 50%;
  cursor: pointer;
}

/*小圆点 被点击样式*/
.current {
  background-color: #fff;
}